body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#logout{
	background-color:#C2185B;
}
#nombre{
	color: #000;
}
#small{
	height: 2rem;
	width: 2rem;
	margin-top: .5rem;
	margin-bottom: -.5rem;
	margin-right: 1rem;
}
#body{
	min-height: 500px;
}
.menu{
	border-top: 0px solid #DDD !important;
border-right: 0px solid #DDD !important;
border-left: 0px solid #DDD !important;
margin: 0px !important;
}